certifi==2019.6.16
chardet==3.0.4
Click==7.0
dominate==2.3.5 
Flask==1.0.2
gunicorn==19.5.0
hellosign-python-sdk==3.8.7
httplib2==0.13.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
pyasn1==0.4.5
pyasn1-modules==0.2.5
python-dateutil==2.8.0
requests==2.22.0
rsa==4.7
six==1.12.0
urllib3==1.25.3
Werkzeug==0.15.4
WTForms==2.2.1
visitor==0.1.3
pip==19.1.1
wheel==0.33.4
